Repository blitzy-public-samples/pollen8-platform-45u0jm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pollen8/core-team, @pollen8/frontend-team, @pollen8/backend-team, @pollen8/database-team, @pollen8/devops-team, @pollen8/security-team

.github/CODEOWNERS:

# ensuring appropriate review and maintainability of different components.

# Default owners for everything in the repo (unless a later match takes precedence)
* @pollen8/core-team

# Frontend code ownership
/src/frontend/* @pollen8/frontend-team

# Backend code ownership
/src/backend/* @pollen8/backend-team

# WebSocket service ownership
/src/socket/* @pollen8/backend-team

# Database code ownership
/src/database/* @pollen8/database-team

# Shared utilities ownership
/src/shared/* @pollen8/core-team

# Infrastructure code ownership
/infrastructure/* @pollen8/devops-team

# CI/CD workflow ownership
/.github/workflows/* @pollen8/devops-team

# Authentication code review
**/auth/** @pollen8/security-team @pollen8/backend-team

# Encryption utilities review
**/encryption.ts @pollen8/security-team

# Configuration file review
**/config/*.ts @pollen8/security-team @pollen8/devops-team

# This CODEOWNERS file uses a pattern-matching syntax to assign ownership.
# Multiple teams can be assigned as owners for the same pattern.
# More specific patterns take precedence over less specific ones.
# The file ensures that appropriate experts review changes to their domains.
# Security-critical components require review from the security team.
# The core team serves as a fallback for files not matching specific patterns.
# This setup aligns with the microservices architecture defined in the technical specification.

Add public-samples/pollen8-platform-45u0jm/src/backend/src/repositories/location.repository.ts
  src/backend/src/repositories/location.repository.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/repositories/user.repository.ts
  src/backend/src/repositories/user.repository.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/services/analytics.service.ts
  src/backend/src/services/analytics.service.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/services/aws.service.ts
  src/backend/src/services/aws.service.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/services/cache.service.ts
  src/backend/src/services/cache.service.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/services/googleMaps.service.ts
  src/backend/src/services/googleMaps.service.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/services/twilio.service.ts
  src/backend/src/services/twilio.service.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/utils/dataTransformers.ts
  src/backend/src/utils/dataTransformers.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/utils/encryption.ts
  src/backend/src/utils/encryption.ts
Owners: @pollen8/security-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/utils/errorHandlers.ts
  src/backend/src/utils/errorHandlers.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/utils/logger.ts
  src/backend/src/utils/logger.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/utils/tokenManager.ts
  src/backend/src/utils/tokenManager.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/integration/cache.test.ts
  src/backend/tests/integration/cache.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/integration/database.test.ts
  src/backend/tests/integration/database.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/integration/externalServices.test.ts
  src/backend/tests/integration/externalServices.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/models/connection.model.test.ts
  src/backend/tests/unit/models/connection.model.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/models/invite.model.test.ts
  src/backend/tests/unit/models/invite.model.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/models/user.model.test.ts
  src/backend/tests/unit/models/user.model.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/repositories/connection.repository.test.ts
  src/backend/tests/unit/repositories/connection.repository.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/repositories/invite.repository.test.ts
  src/backend/tests/unit/repositories/invite.repository.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/repositories/user.repository.test.ts
  src/backend/tests/unit/repositories/user.repository.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/services/analytics.service.test.ts
  src/backend/tests/unit/services/analytics.service.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/services/aws.service.test.ts
  src/backend/tests/unit/services/aws.service.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/services/cache.service.test.ts
  src/backend/tests/unit/services/cache.service.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/services/googleMaps.service.test.ts
  src/backend/tests/unit/services/googleMaps.service.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/services/twilio.service.test.ts
  src/backend/tests/unit/services/twilio.service.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/utils/encryption.test.ts
  src/backend/tests/unit/utils/encryption.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tests/unit/utils/tokenManager.test.ts
  src/backend/tests/unit/utils/tokenManager.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/database/README.md
  src/database/README.md
Owners: @pollen8/database-team

Add public-samples/pollen8-platform-45u0jm/src/database/cache/keys.ts
  src/database/cache/keys.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/database/cache/strategies.ts
  src/database/cache/strategies.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/database/config/mongodb.config.ts
  src/database/config/mongodb.config.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/database/config/redis.config.ts
  src/database/config/redis.config.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/database/constants/collections.ts
  src/database/constants/collections.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/database/constants/indexes.ts
  src/database/constants/indexes.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/database/interfaces/migration.interface.ts
  src/database/interfaces/migration.interface.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/database/interfaces/repository.interface.ts
  src/database/interfaces/repository.interface.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/database/migrations/00001_initial_schema.ts
  src/database/migrations/00001_initial_schema.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/database/migrations/00002_add_indexes.ts
  src/database/migrations/00002_add_indexes.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/database/migrations/00003_add_analytics_collections.ts
  src/database/migrations/00003_add_analytics_collections.ts
Owners: @pollen8/core-team
