Repository blitzy-public-samples/pollen8-platform-45u0jm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pollen8/core-team, @pollen8/frontend-team, @pollen8/backend-team, @pollen8/database-team, @pollen8/devops-team, @pollen8/security-team

.github/CODEOWNERS:

# ensuring appropriate review and maintainability of different components.

# Default owners for everything in the repo (unless a later match takes precedence)
* @pollen8/core-team

# Frontend code ownership
/src/frontend/* @pollen8/frontend-team

# Backend code ownership
/src/backend/* @pollen8/backend-team

# WebSocket service ownership
/src/socket/* @pollen8/backend-team

# Database code ownership
/src/database/* @pollen8/database-team

# Shared utilities ownership
/src/shared/* @pollen8/core-team

# Infrastructure code ownership
/infrastructure/* @pollen8/devops-team

# CI/CD workflow ownership
/.github/workflows/* @pollen8/devops-team

# Authentication code review
**/auth/** @pollen8/security-team @pollen8/backend-team

# Encryption utilities review
**/encryption.ts @pollen8/security-team

# Configuration file review
**/config/*.ts @pollen8/security-team @pollen8/devops-team

# This CODEOWNERS file uses a pattern-matching syntax to assign ownership.
# Multiple teams can be assigned as owners for the same pattern.
# More specific patterns take precedence over less specific ones.
# The file ensures that appropriate experts review changes to their domains.
# Security-critical components require review from the security team.
# The core team serves as a fallback for files not matching specific patterns.
# This setup aligns with the microservices architecture defined in the technical specification.

Add public-samples/pollen8-platform-45u0jm/src/socket/Dockerfile
  src/socket/Dockerfile
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/socket/README.md
  src/socket/README.md
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/socket/jest.config.js
  src/socket/jest.config.js
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/socket/package.json
  src/socket/package.json
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/socket/tsconfig.json
  src/socket/tsconfig.json
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/app.ts
  src/socket/src/app.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/server.ts
  src/socket/src/server.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/config/index.ts
  src/socket/src/config/index.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/config/jwt.ts
  src/socket/src/config/jwt.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/config/redis.ts
  src/socket/src/config/redis.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/handlers/connectionHandler.ts
  src/socket/src/handlers/connectionHandler.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/handlers/inviteHandler.ts
  src/socket/src/handlers/inviteHandler.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/handlers/networkValueHandler.ts
  src/socket/src/handlers/networkValueHandler.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/middleware/authMiddleware.ts
  src/socket/src/middleware/authMiddleware.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/middleware/loggingMiddleware.ts
  src/socket/src/middleware/loggingMiddleware.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/middleware/rateLimitMiddleware.ts
  src/socket/src/middleware/rateLimitMiddleware.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/services/eventEmitter.ts
  src/socket/src/services/eventEmitter.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/services/redisService.ts
  src/socket/src/services/redisService.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/types/socket.types.ts
  src/socket/src/types/socket.types.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/utils/errorHandler.ts
  src/socket/src/utils/errorHandler.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/utils/logger.ts
  src/socket/src/utils/logger.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/src/utils/metrics.ts
  src/socket/src/utils/metrics.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/tests/integration/redis.test.ts
  src/socket/tests/integration/redis.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/tests/integration/socket.test.ts
  src/socket/tests/integration/socket.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/tests/unit/handlers/connectionHandler.test.ts
  src/socket/tests/unit/handlers/connectionHandler.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/tests/unit/handlers/inviteHandler.test.ts
  src/socket/tests/unit/handlers/inviteHandler.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/tests/unit/handlers/networkValueHandler.test.ts
  src/socket/tests/unit/handlers/networkValueHandler.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/tests/unit/middleware/authMiddleware.test.ts
  src/socket/tests/unit/middleware/authMiddleware.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/tests/unit/services/eventEmitter.test.ts
  src/socket/tests/unit/services/eventEmitter.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/tests/unit/services/redisService.test.ts
  src/socket/tests/unit/services/redisService.test.ts
Owners: @pollen8/core-team
