Repository blitzy-public-samples/pollen8-platform-45u0jm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pollen8/core-team, @pollen8/frontend-team, @pollen8/backend-team, @pollen8/database-team, @pollen8/devops-team, @pollen8/security-team

.github/CODEOWNERS:

# ensuring appropriate review and maintainability of different components.

# Default owners for everything in the repo (unless a later match takes precedence)
* @pollen8/core-team

# Frontend code ownership
/src/frontend/* @pollen8/frontend-team

# Backend code ownership
/src/backend/* @pollen8/backend-team

# WebSocket service ownership
/src/socket/* @pollen8/backend-team

# Database code ownership
/src/database/* @pollen8/database-team

# Shared utilities ownership
/src/shared/* @pollen8/core-team

# Infrastructure code ownership
/infrastructure/* @pollen8/devops-team

# CI/CD workflow ownership
/.github/workflows/* @pollen8/devops-team

# Authentication code review
**/auth/** @pollen8/security-team @pollen8/backend-team

# Encryption utilities review
**/encryption.ts @pollen8/security-team

# Configuration file review
**/config/*.ts @pollen8/security-team @pollen8/devops-team

# This CODEOWNERS file uses a pattern-matching syntax to assign ownership.
# Multiple teams can be assigned as owners for the same pattern.
# More specific patterns take precedence over less specific ones.
# The file ensures that appropriate experts review changes to their domains.
# Security-critical components require review from the security team.
# The core team serves as a fallback for files not matching specific patterns.
# This setup aligns with the microservices architecture defined in the technical specification.

Add public-samples/pollen8-platform-45u0jm/src/api/tests/unit/controllers/auth.controller.test.ts
  src/api/tests/unit/controllers/auth.controller.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/api/tests/unit/controllers/invite.controller.test.ts
  src/api/tests/unit/controllers/invite.controller.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/api/tests/unit/controllers/network.controller.test.ts
  src/api/tests/unit/controllers/network.controller.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/api/tests/unit/controllers/user.controller.test.ts
  src/api/tests/unit/controllers/user.controller.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/api/tests/unit/middleware/auth.middleware.test.ts
  src/api/tests/unit/middleware/auth.middleware.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/api/tests/unit/middleware/error.middleware.test.ts
  src/api/tests/unit/middleware/error.middleware.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/api/tests/unit/middleware/rateLimiter.middleware.test.ts
  src/api/tests/unit/middleware/rateLimiter.middleware.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/api/tests/unit/middleware/validation.middleware.test.ts
  src/api/tests/unit/middleware/validation.middleware.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/api/tests/unit/services/auth.service.test.ts
  src/api/tests/unit/services/auth.service.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/api/tests/unit/services/invite.service.test.ts
  src/api/tests/unit/services/invite.service.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/api/tests/unit/services/network.service.test.ts
  src/api/tests/unit/services/network.service.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/api/tests/unit/services/user.service.test.ts
  src/api/tests/unit/services/user.service.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/backend/.env.example
  src/backend/.env.example
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/backend/README.md
  src/backend/README.md
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/backend/jest.config.js
  src/backend/jest.config.js
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/backend/package.json
  src/backend/package.json
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/config/aws.ts
  src/backend/src/config/aws.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/config/database.ts
  src/backend/src/config/database.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/config/geolocation.ts
  src/backend/src/config/geolocation.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/config/index.ts
  src/backend/src/config/index.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/config/redis.ts
  src/backend/src/config/redis.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/config/sms.ts
  src/backend/src/config/sms.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/jobs/analyticsAggregation.job.ts
  src/backend/src/jobs/analyticsAggregation.job.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/jobs/cacheCleanup.job.ts
  src/backend/src/jobs/cacheCleanup.job.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/jobs/index.ts
  src/backend/src/jobs/index.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/models/connection.model.ts
  src/backend/src/models/connection.model.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/models/industry.model.ts
  src/backend/src/models/industry.model.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/models/interest.model.ts
  src/backend/src/models/interest.model.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/models/invite.model.ts
  src/backend/src/models/invite.model.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/models/location.model.ts
  src/backend/src/models/location.model.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/models/user.model.ts
  src/backend/src/models/user.model.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/repositories/connection.repository.ts
  src/backend/src/repositories/connection.repository.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/repositories/industry.repository.ts
  src/backend/src/repositories/industry.repository.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/repositories/interest.repository.ts
  src/backend/src/repositories/interest.repository.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/backend/src/repositories/invite.repository.ts
  src/backend/src/repositories/invite.repository.ts
Owners: @pollen8/core-team
