Repository blitzy-public-samples/pollen8-platform-45u0jm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pollen8/core-team, @pollen8/frontend-team, @pollen8/backend-team, @pollen8/database-team, @pollen8/devops-team, @pollen8/security-team

Add public-samples/pollen8-platform-45u0jm/src/frontend/tests/hooks/useAuth.test.ts
  src/frontend/tests/hooks/useAuth.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/frontend/tests/hooks/useNetwork.test.ts
  src/frontend/tests/hooks/useNetwork.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/frontend/tests/pages/Profile.test.tsx
  src/frontend/tests/pages/Profile.test.tsx
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/frontend/tests/pages/Welcome.test.tsx
  src/frontend/tests/pages/Welcome.test.tsx
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/frontend/tests/utils/formatting.test.ts
  src/frontend/tests/utils/formatting.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/frontend/tests/utils/validation.test.ts
  src/frontend/tests/utils/validation.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/README.md
  src/shared/README.md
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/config/constants.ts
  src/shared/config/constants.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/shared/config/environments.ts
  src/shared/config/environments.ts
Owners: @pollen8/security-team, @pollen8/devops-team

Add public-samples/pollen8-platform-45u0jm/src/shared/constants/errorCodes.ts
  src/shared/constants/errorCodes.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/constants/index.ts
  src/shared/constants/index.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/constants/industries.ts
  src/shared/constants/industries.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/constants/interests.ts
  src/shared/constants/interests.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/constants/networkValue.ts
  src/shared/constants/networkValue.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/enums/analyticsMetric.enum.ts
  src/shared/enums/analyticsMetric.enum.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/enums/connectionStatus.enum.ts
  src/shared/enums/connectionStatus.enum.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/enums/userRole.enum.ts
  src/shared/enums/userRole.enum.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/interfaces/connection.interface.ts
  src/shared/interfaces/connection.interface.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/interfaces/industry.interface.ts
  src/shared/interfaces/industry.interface.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/interfaces/interest.interface.ts
  src/shared/interfaces/interest.interface.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/interfaces/invite.interface.ts
  src/shared/interfaces/invite.interface.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/interfaces/location.interface.ts
  src/shared/interfaces/location.interface.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/interfaces/user.interface.ts
  src/shared/interfaces/user.interface.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/schemas/connection.schema.ts
  src/shared/schemas/connection.schema.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/schemas/invite.schema.ts
  src/shared/schemas/invite.schema.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/schemas/user.schema.ts
  src/shared/schemas/user.schema.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/tests/utils.test.ts
  src/shared/tests/utils.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/tests/validators.test.ts
  src/shared/tests/validators.test.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/types/analytics.types.ts
  src/shared/types/analytics.types.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/types/api.types.ts
  src/shared/types/api.types.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/types/network.types.ts
  src/shared/types/network.types.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/utils/formatting.ts
  src/shared/utils/formatting.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/utils/networkCalculation.ts
  src/shared/utils/networkCalculation.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/utils/testing.ts
  src/shared/utils/testing.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/utils/validation.ts
  src/shared/utils/validation.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/validators/connection.validator.ts
  src/shared/validators/connection.validator.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/validators/invite.validator.ts
  src/shared/validators/invite.validator.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/shared/validators/user.validator.ts
  src/shared/validators/user.validator.ts
Owners: @pollen8/core-team

Add public-samples/pollen8-platform-45u0jm/src/socket/.dockerignore
  src/socket/.dockerignore
Owners: @pollen8/backend-team

Add public-samples/pollen8-platform-45u0jm/src/socket/.env.example
  src/socket/.env.example
Owners: @pollen8/backend-team

.github/CODEOWNERS:

# ensuring appropriate review and maintainability of different components.

# Default owners for everything in the repo (unless a later match takes precedence)
* @pollen8/core-team

# Frontend code ownership
/src/frontend/* @pollen8/frontend-team

# Backend code ownership
/src/backend/* @pollen8/backend-team

# WebSocket service ownership
/src/socket/* @pollen8/backend-team

# Database code ownership
/src/database/* @pollen8/database-team

# Shared utilities ownership
/src/shared/* @pollen8/core-team

# Infrastructure code ownership
/infrastructure/* @pollen8/devops-team

# CI/CD workflow ownership
/.github/workflows/* @pollen8/devops-team

# Authentication code review
**/auth/** @pollen8/security-team @pollen8/backend-team

# Encryption utilities review
**/encryption.ts @pollen8/security-team

# Configuration file review
**/config/*.ts @pollen8/security-team @pollen8/devops-team

# This CODEOWNERS file uses a pattern-matching syntax to assign ownership.
# Multiple teams can be assigned as owners for the same pattern.
# More specific patterns take precedence over less specific ones.
# The file ensures that appropriate experts review changes to their domains.
# Security-critical components require review from the security team.
# The core team serves as a fallback for files not matching specific patterns.
# This setup aligns with the microservices architecture defined in the technical specification.
